body{
    background-color: crimson;
    color: floralwhite;
}

.gogogo{
    font-size: 22px;
    color: firebrick;
    width: 80%;
}
#camera{
    border: 5px solid gold;
    width: 350px;
    height: 300px;
}
#result{
    border: 5px solid skyblue;
    width: 350px;
    height: 300px;
}